/* remove default browser spacing*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato, sans-serif;
  background-color: #f8f8f8;
}

.container {
  -webkit-text-fill-color: #34607d;
  width: 200px;
  margin: 30px auto;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #d35400;
  border-radius: 10px;
  box-shadow: #b8660e 5px 5px;
}

button {
  width: 90px;
  height: 20px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  transition: background color 0.3s ease-in-out;
}

#confirm-order-button {
  background-color: #d35400;
  color: #b8660e;
}
#confirm-order-button:hover {
  background-color: #d35400;
}
#cancel-order-button {
  background-color: #d35400;
  color: #d35400;
  -webkit-text-fill-color: #f8f8f8;
}
#cancel-order-button-container {
  background-color: #d35400;
}
#back-to-home-button {
  background-color: #d35400;
  color: #d35400;
  -webkit-text-fill-color: #f8f8f8;
}
