/* remove default browser spacing*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato, sans-serif;
  background-color: #f8f8f8;
}

.container {
  width: 200px;
  margin: 30px auto;
  padding: 10px;
  background-color: #457a97;
  border: 1px solid #d35400;
  border-radius: 10px;
  box-shadow: #b8660e 5px;
}

button {
  width: 90px;
  height: 20px;
  margin: 15px;
  border: #457a97;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-order-button {
  background-color: #457a97;
  color: #0a0a0a;
}

#cancel-order-button {
  background-color: #457a97;
  color: #0a0a0a;
}
